.popup {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backface-visibility: hidden;
    perspective: 600;

    &--window {
        padding: 7rem 2.5rem;
        background-color: var(--white);
        border: 2px solid var(--purple);
        border-radius: 10px;
        width: 100%;
        max-width: 60%;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        backface-visibility: hidden;
        overflow-y: auto;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    }

    &--title {
        font-weight: bold;
        margin: 0 0 30px 0;
        font-size: 1.8rem;
    }

    &--close {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.44s;

        &:hover {
            transform: rotate(90deg);
        }

        .icon {
            fill: var(--black);
            width: 100%;
            height: 100%;
        }
    }
}
